<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account successfully activated</title>
</head>
<body>
    <h1>Welcome <strong>{{first_name}}</strong></h1>
    <hr>
    <p>Your account successfully activated. Now you can access all the features of our app</p>
    <h5>Have a great day {{first_name}}!</h5>
    <small>Team Eventasya.</small>
</body>
</html>